@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-bg:after {
    content: '✗';
    @apply absolute text-red-700 text-center top-0.5 left-0.5 bg-white border border-gray-300 rounded-full h-6 w-6 transition shadow-sm;
}

input:checked + .toggle-bg:after {
    content: '✓';
    transform: translateX(85%);
    @apply border-white text-green-700;
}

input:checked + .toggle-bg {
    
    @apply bg-blue-500;
}
